     @charset "UTF-8";

      body {   
            background-color: rgb(99, 187, 216);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: blue;
             background-color: aliceblue;
        }
        h2 {
            color: green;
        }
        p {
            text-align: justify;
        }